
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

table form{
	display: inline-block;
}

#app{
	min-height: 60vh;
}

.navbar{
	margin-bottom: 60px;
}

.site-footer{
	padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

.errors p,
.success p {
  padding: 15px;
}
